<div class="col-md-6 col-md-offset-3">
	<ul class="list-group">
		<% @recipients.each do |recipient| %>
			<li class="list-group-item">
				<strong>Message Body: </strong><%= recipient.message.body %>
				<br>
				<small>From <%= recipient.message.sender.username %> on <%= l recipient.created_at.to_date %></small>
			</li>
		<% end %>
	</ul>
</div>
